<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p>Kalau ada yang mau ditanyakan, silahkan menghubungi CP yang tertera.</p>
    <p>CP: LINE (guntur108)</p>
<%- include("partials/footer"); -%>
