<%- include("partials/header"); -%>
    <h1>Cara Mengirim Menfess</h1>
    <p>Berikut adalah langkah-langkah untuk mengirimkan menfess:</p>
    <ol>
        <li>Buka tab Home</li>
        <li>Tambahkan /compose pada URL</li>
        <li>Isi judul dan pesan menfess</li>
        <li>Klik tombol Kirim</li>
        <li>Selesai</li>
    </ol>
<%- include("partials/footer"); -%>
